<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Listar Detalle_compras</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
         <div class="col-8">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th scope="col">id detalle </th>
                        <th scope="col">cantidad </th>
                        <th scope="col">precio unitario</th>
                        <th scope="col">total</th>
                        <th scope="col">id compra </th>
                        <th scope="col">id productos</th>
                        
                    </tr>
                </thead>
             <tbody id="'tabla">

             </tbody>
            </table>
         </div>


         <div class="col-4">
            <form action="#" method="post">
                <div class="mb-3">
                    <label class="form">id detalle</label>
                    <input type="number" id="codi" class="form-control" name="Codigo" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">cantidad</label>
                    <input type="number" id="can" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">precio unitario</label>
                    <input type="number" id="uni" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">total</label>
                    <input type="number" id="tot" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">id compra</label>
                    <input type="number" id="com" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">id Detalle_compra</label>
                    <input type="number" id="pro" class="form-control" name="Nombre" placeholder="">
                </div>
                
                <div>
                    <input type="button" class="btn btn-primary" value="Registrar" onclick="registrar_Detalle_compra()">
                    <input type="button" class="btn btn-primary" value="Listar" onclick="listar_Detalle_compras()">
                    
                </div>

            </form>
         </div>
        </div>
    </div>

    <script>
        function listar_Detalle_compras() { 
            fetch('/listar_Detalle_compras',
            {method: 'get'
        }
        ).then(res=>res.json())
        .then(data=>{
            var tabla='';
            for (var i=0;i<data.length;i++)
            {
                tabla+='<tr><td>'+data[i].id_det+'</td>';
                tabla+='<tr><td>'+data[i].cantidad +'</td>';
                tabla+='<tr><td>'+data[i].precio_unitario +'</td>'; 
                tabla+='<tr><td>'+data[i].total +'</td>';
                tabla+='<tr><td>'+data[i].fk_compra +'</td>';
                tabla+='<tr><td>'+data[i].fk_producto +'</td></tr>';  
            }
            document.getElementById('tabla').innerHTML=tabla;
        });
        }

        
        function registrar_Detalle_compra(){
            var id=document.getElementById('').value;
            var nom=document.getElementById('').value;
            var datos= new URLSearchParams();
            datos.append('Codigo',id);
            datos.append('Nombre',nom);

            fetch('/registrar_Detalle_compra',
            {method:'post',
            body: datos
        })
        .then(res=>res.text())
        .then(data=>{
            alert(data);
        });
        }
    </script>
</body>
</html>