<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Listar productos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
         <div class="col-8">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th scope="col">Codigo </th>
                        <th scope="col">Nombre </th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Valor </th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Stock</th>
                        <th scope="col">id Catalogo</th>
                    </tr>
                </thead>
             <tbody id="'tabla">

             </tbody>
            </table>
         </div>


         <div class="col-4">
            <form action="#" method="post">
                <div class="mb-3">
                    <label class="form">Codigo</label>
                    <input type="number" id="codi" class="form-control" name="Codigo" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">Nombre</label>
                    <input type="text" id="nomb" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">imagen</label>
                    <input type="file" id="imag" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">Decripcion</label>
                    <input type="text" id="desc" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">Valor</label>
                    <input type="number" id="valo" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">Descuento</label>
                    <input type="number" id="desu" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form">Stock</label>
                    <input type="number" id="stoc" class="form-control" name="Nombre" placeholder="">
                </div>
                <div class="mb-3">
                    <label class="form"> Catalogo</label>
                    <input type="select" id="catag" class="form-control" name="Nombre" placeholder="">
                </div>
                <div>
                    <input type="button" class="btn btn-primary" value="Registrar" onclick="registrar_Producto()">
                    <input type="button" class="btn btn-primary" value="Listar" onclick="listar_Productos()">
                    
                </div>

            </form>
         </div>
        </div>
    </div>

    <script>
        function listar_Productos() { 
            fetch('/listar_Productos',
            {method: 'get'
        }
        ).then(res=>res.json())
        .then(data=>{
            var tabla='';
            for (var i=0;i<data.length;i++)
            {
                tabla+='<tr><td>'+data[i].codigo_pro +'</td>';
                tabla+='<tr><td>'+data[i].nombre_pro +'</td>';
                tabla+='<tr><td>'+data[i].imagen_pro +'</td>'; 
                tabla+='<tr><td>'+data[i].descripcion_pro +'</td>';
                tabla+='<tr><td>'+data[i].valor_pro +'</td>';
                tabla+='<tr><td>'+data[i].descuento +'</td>'; 
                tabla+='<tr><td>'+data[i].stock +'</td>';
                tabla+='<tr><td>'+data[i].fk_catalogo +'</td></tr>';  
            }
            document.getElementById('tabla').innerHTML=tabla;
        });
        }

        
        function registrar_Producto(){
            var id=document.getElementById('').value;
            var nom=document.getElementById('').value;
            var datos= new URLSearchParams();
            datos.append('Codigo',id);
            datos.append('Nombre',nom);

            fetch('/registrar_Producto',
            {method:'post',
            body: datos
        })
        .then(res=>res.text())
        .then(data=>{
            alert(data);
        });
        }
    </script>
</body>
</html>